/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: Verdana, Cosmic Sans, Tahoma, sans-serif;
        width:75%
    }
    
    
    .Navbar {
        
        
    }
    
    .Header {
       
    }
    
    ul li {
        
    }
    
    .h1 {
        
    }
    
    .paragraph {
        flex-shrink: 1;
        max-width: 50%;
        
    
    }
    .sharks{
        flex-shrink: 3;
        max-width: 50%;
    
    
    }
    .chef {
        flex-shrink: 3;
    
    }
    #sharks img {
        flex-shrink: 3;
       
    }
    
    #chef img {
        flex-shrink: 3;
       
    
    }
    
    .section {
        flex-shrink 1;
        
    }
    
    .flex-container {
       
    }
    
    #horiseon img {
        
    
    }
    
    #preworkstudyguide img {
       
    
    
    }
    
    
    .instagram {
        flex-shrink: 3;
        
    
    
    }
    #instagram img {
        
    }
    .github {
        flex-shrink: 3;
       
    }
    #github img {
        
    }
    
    #googledoc img {
       
    }
    
    #wendio img {
        
    
    }
    
    .Footer {
        
    }
    
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: Verdana, Cosmic Sans, Tahoma, sans-serif;
        width: 50%;
    }
    
    
    .Navbar {
        
    }
    
    .Header {
        
    }
    
    ul li {
       
    }
    
    .h1 {
        
    }
    
    .paragraph {
        
    
    }
    .sharks{
        
    
    
    }
    .chef {
       
    
    }
    #sharks img {
        
    
    }
    
    #chef img {
        
    }
    
    .section {
        
    }
    
    .flex-container {
        
    }
    
    #horiseon img {
       
    
    }
    
    #preworkstudyguide img {
       
    
    
    }
    
    
    .instagram {
        
    
    
    }
    #instagram img {
        
    }
    .github {
        
    }
    #github img {
        
    }
    
    #googledoc img {
       
    }
    
    #wendio img {
       
    
    }
    
    .Footer {
        
    }
    
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: Verdana, Cosmic Sans, Tahoma, sans-serif;
        width: 50%;
    }
    
    
    .Navbar {
       
    }
    
    .Header {
       
    }
    
    ul li {
       
    }
    
    .h1 {
        
    }
    
    .paragraph {
       
    
    }
    .sharks{
       
    
    
    }
    .chef {
       
    
    }
    #sharks img {
        
    
    }
    
    #chef img {
       
    
    }
    
    .section {
        
    }
    
    .flex-container {
       
    }
    
    #horiseon img {
       
    
    }
    
    #preworkstudyguide img {
        
    
    
    }
    
    
    .instagram {
       
    
    
    }
    #instagram img {
        
    }
    .github {
       
    }
    #github img {
        
    }
    
    #googledoc img {
        
    }
    
    #wendio img {
        
    
    }
    
    .Footer {
        
    }
    
    }
  