* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Cosmic Sans, Tahoma, sans-serif;
}


.Navbar {
    display: flex;
    justify-content: center;
    border: 20px solid black;
    background-color: black;
    color: whitesmoke;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border: 10px solid black;
    background-color: black;
}

ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px
}

.Aboutme {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 300px;
    height: 300px;
    background-color: #36454f;
    color: #ffffff;


}

.Work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 300px;
    height: 300px;
    background-color: #36454f;
    color: #ffffff;

}

.flex-container {
    border: 0px solid #ffffff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #36454f;
    padding: 350px;
    height: 350px;
    color: #ffffff;
}


.horiseon {
    display: flex;
    justify-content: space-evenly;
    max-width: 30px;
    height: 30px;
    
}

.preworkstudyguide {
    display: flex;
    justify-content: space-evenly;
    width:30px;
    height: 30px;
    
}

.Resume {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 300px;
    height: 300px;
    background-color: #36454f;
    color: #ffffff;

}

.Getintouch {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 300px;
    height: 300px;
    background-color: #36454f;
    color: #ffffff;

}

.Footer {
    display: flex;
    justify-content: center;
    font-size: 30px;
}